In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw02.ipynb")

# Homework 02: Arrays and Tables

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests.

In [ ]:
# Don't change this cell; just run it. 
# When you log-in please hit return (not shift + return) after typing in your email
import numpy as np
from datascience import *

**Helpful Resource:**
- [Python Reference](http://data8.org/sp21/python-reference.html): Cheat sheet of helpful array & table methods used in this course.

**Recommended Reading:**
- [What is Data Science](http://www.inferentialthinking.com/chapters/01/what-is-data-science.html)
- [Causality and Experiments](http://www.inferentialthinking.com/chapters/02/causality-and-experiments.html) 
- [Programming in Python](http://www.inferentialthinking.com/chapters/03/programming-in-python.html)

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!

**Deadline:**

This assignment is due by the deadline listed in Canvas/Gradescope. Start early so that you can come to office hours if you're stuck. Check the course website for the office hours schedule. Late work will not be accepted as per the course expectations. Late work will not be accepted without advanced permission as per the course expectations document, so plan accordingly. You should start early so that you have time to get help if you're stuck. Office hours are held throughout the week, so be sure to use them if needed.


### **Note: This homework has hidden tests on it. That means even though tests may say 100% passed, doesn't mean your final grade will be 100%. We will be running more tests for correctness once everyone turns in the homework.**

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. Refer to the course expectations to learn more about how to learn cooperatively.

You should start early so that you have time to get help if you're stuck.

## 1. Creating Arrays

#### Question 1.1.
Make an **array** called `weird_numbers` containing the following numbers (in the given order):

1. $-2$
2. $\sin(12)$
3. $3$
4. $5^{\cos(12)}$

**Hint:** `sin` and `cos` are functions in the `math` module. Importing modules is covered in a previous lab! You should import the module in your solution cell below.

*Note:* Python lists are different/behave differently than numpy arrays. In this course, we use `numpy` arrays, so please make an **array**, not a python list.

```
BEGIN QUESTION
name: q1_1
```

In [ ]:
# Our solution involved one extra line of code before creating
# weird_numbers.
import math # SOLUTION
weird_numbers = make_array(-2, math.sin(12), 3, 5**math.cos(12) ) # SOLUTION
weird_numbers

In [ ]:
# TEST
isinstance(weird_numbers, np.ndarray)

In [ ]:
# TEST
len(weird_numbers)

In [ ]:
# TEST
np.allclose(weird_numbers, np.array([-2., -0.53657292,  3.,  3.88891638]), rtol=1e-03, atol=1e-03)

#### Question 1.2.
Make an array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves".

```
BEGIN QUESTION
name: q1_2
```

In [ ]:
book_title_words = make_array('Eats', 'Shoots', 'and Leaves') # SOLUTION
book_title_words

In [ ]:
# TEST
type(book_title_words) == np.ndarray

In [ ]:
# TEST
not any([',' in text for text in book_title_words])

In [ ]:
# TEST
'and ' in book_title_words.item(2)

In [ ]:
# TEST
len(book_title_words)

In [ ]:
# TEST
book_title_words

### `join`
Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string in the array.

#### Question 1.3. 
Use the array `book_title_words` and the method `join` to make two strings:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(book_title_words)` .

```
BEGIN QUESTION
name: q1_3
```

In [ ]:
with_commas = ', '.join(book_title_words) # SOLUTION
without_commas = ' '.join(book_title_words) # SOLUTION

print('with commas: ', with_commas)
print('without commas: ', without_commas)

In [ ]:
# TEST
',' in with_commas

In [ ]:
# TEST
',' not in without_commas

In [ ]:
# TEST
len(with_commas)

In [ ]:
# TEST
len(without_commas)

In [ ]:
# TEST
with_commas == 'Eats, Shoots, and Leaves'

In [ ]:
# TEST
without_commas == 'Eats Shoots and Leaves'

## 2. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), elements are accessed by *index*, so the first element is the element at index 0.

***Note:* If you have previous coding experience, you may be familiar with bracket notation. DO NOT use bracket notation when indexing (i.e. `arr[0]`), as this can yield different data type outputs than what we will be expecting. This can cause you to fail an autograder test.**

Be sure to refer to the [Python Reference](http://data8.org/fa20/python-reference.html) on the website if you feel stuck!

#### Question 2.1.
The cell below creates an array of some numbers.  Set `third_element` to the third element of `some_numbers`.

```
BEGIN QUESTION
name: q2_1
```

In [ ]:
some_numbers = make_array(-1, -3, -6, -10, -15)

third_element = some_numbers.item(2) # SOLUTION
third_element

In [ ]:
# TEST
type(third_element) == int or type(third_element) == numpy.int64

In [ ]:
# TEST
# It would appear you wrote:
# some_numbers.item(3)
# But the third element has index 2,
# not an index of 3
third_element != -10

In [ ]:
# TEST
third_element

#### Question 2.2.
The next cell creates a table that displays some information about the elements of `some_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information (the cells that say "Ellipsis") by assigning `blank_a`, `blank_b`, `blank_c`, and `blank_d` to the correct elements in the table.

**Hint:*** Replace the ... with strings or numbers.

```
BEGIN QUESTION
name: q2_2
```

In [ ]:
blank_a = 'third' # SOLUTION
blank_b = 'fourth' # SOLUTION
blank_c = 0 # SOLUTION
blank_d = 3 # SOLUTION

# Don't change anything below this line!
elements_of_some_numbers = Table().with_columns(
    "English name for position", make_array("first", "second", blank_a, blank_b, "fifth"),
    "Index",                     make_array(blank_c, 1, 2, blank_d, 4),
    "Element",                   some_numbers)
elements_of_some_numbers

In [ ]:
# TEST
elements_of_some_numbers.column(0).item(2)

In [ ]:
# TEST
elements_of_some_numbers.column(0).item(3)

In [ ]:
# TEST
elements_of_some_numbers.column(1).item(0)

In [ ]:
# TEST
elements_of_some_numbers.column(1).item(3)

#### Question 2.3.
You'll sometimes want to find the *last* element of an array.  Suppose an array has 142 elements.  What is the index of its last element?

```
BEGIN QUESTION
name: q2_3
```

In [ ]:
index_of_last_element = 141 # SOLUTION

In [ ]:
# TEST
index_of_last_element

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, an array, and returns the `len`gth of that array (an integer).

#### Question 2.4.
The cell below loads an array called `president_birth_years`.  Calling `.column(...)` on a table returns an array of the column specified, in this case the `Birth Year` column of the `president_births` table. The last element in that array is the most recent birth year of any deceased president. Assign that year to `most_recent_birth_year`. Your solution should used both the `len(...)` and `.item(...)` functions, and you should not have to know the number of rows in `president_birth_years` to answer this question. Your code should be able to work no matter how big or small `president_birth_years` might be.

```
BEGIN QUESTION
name: q2_4
```

In [ ]:
president_birth_years = Table.read_table("president_births.csv").column('Birth Year')

most_recent_birth_year = president_birth_years.item( len( president_birth_years ) - 1 ) # SOLUTION
most_recent_birth_year

In [ ]:
# TEST
most_recent_birth_year

#### Question 2.5.
Finally, assign `sum_of_birth_years` to the sum of the first, sixteenth, and last birth year in `president_birth_years`. Your solution should not include the actual years in the calculation, but rather references to the array where those years are stored.

```
BEGIN QUESTION
name: q2_5
```

In [ ]:
sum_of_birth_years = president_birth_years.item(0) + president_birth_years.item(15) + most_recent_birth_year # SOLUTION
sum_of_birth_years

In [ ]:
# TEST
sum_of_birth_years

## 3. Basic Array Arithmetic

#### Question 3.1.
Multiply the numbers 42, -4224, 424224242, and 250 by 157. Assign each variable below such that `first_product` is assigned to the result of $42 \cdot 157$, `second_product` is assigned to the result of $-4224 \cdot 157$, and so on. 

For this question, **don't** use arrays.

```
BEGIN QUESTION
name: q3_1
```

In [ ]:
first_product = 42 * 157 # SOLUTION
second_product = -4224 * 157 # SOLUTION
third_product = 424224242 * 157 # SOLUTION
fourth_product = 250 * 157 # SOLUTION
print(first_product, second_product, third_product, fourth_product)

In [ ]:
# TEST
first_product

In [ ]:
# TEST
second_product

In [ ]:
# TEST
third_product

In [ ]:
# TEST
fourth_product

#### Question 3.2.
Now, do the same calculation, but using an array called `numbers` that contains the 4 original numbers (42, -4224, 424224242, and 250) and only a single multiplication (`*`) operator.  Store the 4 results in an array named `products`.

```
BEGIN QUESTION
name: q3_2
```

In [ ]:
numbers = make_array( 42, -4224, 424224242, 250) # SOLUTION
products = numbers * 157 # SOLUTION
products

In [ ]:
# TEST
np.allclose( products, np.array([6594, -663168, 66603205994, 39250]))

#### Question 3.3.
Oops, we made a typo!  Instead of 157, we wanted to multiply each number by 1577.  Compute the correct products in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers.

```
BEGIN QUESTION
name: q3_3
```

In [ ]:
correct_products = numbers * 1577 # SOLUTION
correct_products

In [ ]:
# TEST
np.allclose( correct_products, np.array([66234, -6661248, 669001629634, 394250]))

#### Question 3.4.
We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](noaa.gov), all the temperatures are in Fahrenheit.  Convert them all to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$. Make sure to **ROUND** the final result after converting to Celsius to the nearest integer using the `np.round` function. `np.round` works a lot like the builtin `round` function in python, but it can operate on arrays.

```
BEGIN QUESTION
name: q3_4
```

In [ ]:
max_temperatures = Table.read_table("temperatures.csv").column("Daily Max Temperature")

celsius_max_temperatures = np.round(( max_temperatures - 32) * (5/9)) # SOLUTION
celsius_max_temperatures

In [ ]:
# TEST
sum( celsius_max_temperatures ) != 356705.0

In [ ]:
# TEST
sum(celsius_max_temperatures)

In [ ]:
# TEST
len( celsius_max_temperatures )

In [ ]:
# TEST
celsius_max_temperatures.item(2003)

#### Question 3.5.
The cell below loads all the *lowest* temperatures from each day (in Fahrenheit).  Compute the size of the daily temperature range for each day.  That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  **Pay attention to the units, give your answer in Celsius!** Make sure **NOT** to round your answer for this question! Note: Remember that in Question 3.4, `celsius_max_temperatures` was rounded, so you probably don't want to use that in this question.

```
BEGIN QUESTION
name: q3_5
```

In [ ]:
min_temperatures = Table.read_table("temperatures.csv").column("Daily Min Temperature")

celsius_temperature_ranges = (5/9) * (max_temperatures - min_temperatures) # SOLUTION
celsius_temperature_ranges

In [ ]:
# TEST
np.round(sum(celsius_temperature_ranges), 0)

In [ ]:
# TEST
len(celsius_temperature_ranges)

In [ ]:
# TEST
celsius_temperature_ranges.item(1)

## 4. World Population

The tests from this point on will **not** necessarily tell you whether or not your answers are correct.

The cell below loads a table of estimates of the world population for different years, starting in 1950. The estimates come from the [US Census Bureau website](https://www.census.gov/en.html).

In [ ]:
world = Table.read_table("world_population.csv").select('Year', 'Population')
world.show(4)

The name `population` is assigned to an array of population estimates.

In [ ]:
population = world.column('Population')
population

In this question, you will apply some built-in Numpy functions to this array. Numpy is a module that is often used in Data Science!

<img src="array_diff.png" style="width: 600px;"/>

The difference function `np.diff` subtracts each element in an array from the element after it within the array. As a result, the length of the array `np.diff` returns will always be one less than the length of the input array.

<img src="array_cumsum.png" style="width: 700px;"/>

The cumulative sum function `np.cumsum` outputs an array of partial sums. For example, the third element in the output array corresponds to the sum of the first, second, and third elements.

**Note:** This homework aims to get you comfortable with array arithmetic using methods like `np.diff` and `np.cumsum`, but they are not heavily used later in the course.

#### Question 4.1.
Very often in data science, we are interested understanding how values change with time. Use `np.diff` and `np.max` (or just `max`) to calculate the largest annual change in population between any two consecutive years.

```
BEGIN QUESTION
name: q4_1
```

In [ ]:
largest_population_change = max( np.diff(population) ) # SOLUTION
largest_population_change

In [ ]:
# TEST
largest_population_change

#### Question 4.2.
What do the values in the resulting array represent? Choose one of the following options, and assign the corresponding number to the name `cumulative_sum_answer`.

*Tip: Look at the population array and compute the actual population changes for the first couple years of each option.*

In [ ]:
np.cumsum(np.diff(population))

1) The total population change between consecutive years, starting at 1951.

2) The total population change between 1950 and each later year, starting at 1951.

3) The total population change between 1950 and each later year, starting inclusively at 1950.

```
BEGIN QUESTION
name: q4_2
points:
  - 0
  - 0
  - 1
```

In [ ]:
# Assign cumulative_sum_answer to 1, 2, or 3
cumulative_sum_answer = 2 # SOLUTION

In [ ]:
# TEST
type(cumulative_sum_answer) == int

In [ ]:
# TEST
cumulative_sum_answer in [1, 2, 3]

In [ ]:
# HIDDEN TEST
cumulative_sum_answer

## 5. Old Faithful

Old Faithful is a geyser in Yellowstone that erupts every 44 to 125 minutes (according to [Wikipedia](https://en.wikipedia.org/wiki/Old_Faithful)). People are [often told that the geyser erupts every hour](http://yellowstone.net/geysers/old-faithful/), but in fact the waiting time between eruptions is more variable. Let's take a look.

#### Question 5.1.
The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct.

```
BEGIN QUESTION
name: q5_1
points:
  - 0
  - 0.333333333333333333
  - 0.333333333333333333
  - 0.333333333333333333
```

In [ ]:
waiting_times = Table.read_table('old_faithful.csv').column('waiting')

shortest = min(waiting_times) # SOLUTION
longest = max(waiting_times) # SOLUTION
average = np.average(waiting_times) # SOLUTION

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

In [ ]:
# TEST
shortest <= average <= longest

In [ ]:
# HIDDEN TEST
shortest

In [ ]:
# HIDDEN TEST
longest

In [ ]:
# HIDDEN TEST
np.isclose(average, 70.8970588235)

#### Question 5.2
Assign `biggest_decrease` to the biggest decrease in waiting time between two consecutive eruptions. For example, the third eruption occurred after 74 minutes and the fourth after 62 minutes, so the decrease in waiting time was $62 - 74 = -12$ minutes, for a decrease of 12 minutes.

**Hint 1**: You'll need an array arithmetic function [mentioned in the textbook](https://www.inferentialthinking.com/chapters/05/1/arrays.html#Functions-on-Arrays). You have also seen this function earlier in the homework!

**Hint 2**: We want to return the absolute value of the biggest decrease.

```
BEGIN QUESTION
name: q5_2
points:
  - 0
  - 0
  - 1
```

In [ ]:
biggest_decrease = abs( min( np.diff(waiting_times) ) ) # SOLUTION
biggest_decrease

In [ ]:
# TEST
# Hint: If you are getting 47, you may be computing
# the biggest change rather than the biggest decrease
biggest_decrease != 47

In [ ]:
# TEST
30 <= biggest_decrease < 47

In [ ]:
# HIDDEN TEST
biggest_decrease

#### Question 5.3.
If you expected Old Faithful to erupt every hour, you would expect to wait a total of `60 * k` minutes to see `k` eruptions. Use the `np.arange` function to create a range of values where each element represents the total expected time (in minutes) one would spend waiting for  waiting for `k` erruptions to occur under the assumption erumptions occur once an hour. Set `expected_wait` to this range of values. You can read about `np.arange` as needed in this [textbook section](https://www.inferentialthinking.com/chapters/05/2/Ranges.html).

Then, set `difference_from_expected` to an array with 272 elements, where the element at index `i` is the absolute difference between the actual and expected total amount of waiting time to see the first `i+1` eruptions. 

**Hint 1**: You'll need to compare a cumulative sum to a range. 

For example, since the first three waiting times are 79, 54, and 74, the total waiting time for 3 eruptions is 79 + 54 + 74 = 207. The expected waiting time for 3 eruptions is 60 * 3 = 180. Therefore, `difference_from_expected.item(2)` should be $|207 - 180| = 27$. 

**Hint 2**: When using the absolute value function, use `np.abs` instead of `abs`, since `numpy` is already loaded in this notebook, and that's what the autograder is going to use.

```
BEGIN QUESTION
name: q5_3
```

In [ ]:
expected_wait = np.arange(1, 273) * 60 # SOLUTION
difference_from_expected = np.abs( np.cumsum(waiting_times) - expected_wait ) # SOLUTION
difference_from_expected

In [ ]:
# TEST
difference_from_expected.size

In [ ]:
# TEST
difference_from_expected.item(271) == np.abs( 60 * 272 - sum( waiting_times ) )

#### Question 5.4.
Lets imagine your guess for the next wait time was always just the length of the previous waiting time. If you always guessed the previous waiting time, how big would your error in guessing the waiting times be, on average?

For example, the first three waiting times are 79, 54, and 74. After the first eruption you guess the next eruption will happen after 79 minutes, but it occurs after 54 resulting in an error of $\lvert 79 - 54 \rvert$. For the next eruption you now guess it will take 54 minutes, but it takes 74, so the error is $\lvert 54 - 74 \rvert$. Therefore, the average difference between your guess and the actual time for just the second and third eruption would be $\frac{|79-54|+ |54-74|}{2} = 22.5$.

```
BEGIN QUESTION
name: q5_4
points:
  - 0
  - 1
```

In [ ]:
average_error = np.average( np.abs( np.diff(waiting_times) ) ) # SOLUTION
average_error

In [ ]:
# TEST
15 <= average_error <= 25

In [ ]:
# HIDDEN TEST
np.isclose( average_error, 20.52029520295203)

## 6. Tables

#### Question 6.1.
Suppose you have 4 apples, 3 oranges, and 3 pineapples.  (Perhaps you're using Python to solve a high school Algebra problem.)  Create a table that contains this information.  It should have two columns: `fruit name` and `count`.  Assign the new table to the variable `fruits`.

**Note:** Use lower-case and singular words for the name of each fruit, like `"apple"`.

Your table should look like:

| fruit name | count |
|------------|-------|
| apple      | 4     |
| orange     | 3     |
| pineapple  | 3     |

```
BEGIN QUESTION
name: q6_1
```

In [ ]:
# Our solution uses 1 statement split over 3 lines. You can write yours on 1 line if you wish.
fruits = Table().with_columns( # SOLUTION
    'fruit name', make_array('apple', 'orange', 'pineapple'), # SOLUTION
    'count', make_array(4, 3, 3) ) # SOLUTION
fruits

In [ ]:
# TEST
fruits.sort(0)

#### Question 6.2.
The file `inventory.csv` contains information about the inventory at a fruit stand.  Each row represents the contents of one box of fruit. Load it as a table named `inventory` using the `Table.read_table()` function. `Table.read_table(...)` takes one argument (data file name in string format) and returns a table.

```
BEGIN QUESTION
name: q6_2
```

In [ ]:
inventory = Table.read_table('inventory.csv') # SOLUTION
inventory

In [ ]:
# TEST
inventory.sort(0).column(0).item(0)

#### Question 6.3.
Does each box at the fruit stand contain a different fruit? Set `all_different` to `True` if each box contains a different fruit or to `False` if multiple boxes contain the same fruit.

**Hint:** You don't have to write code to calculate the True/False value for `all_different`. Just look at the `inventory` table and assign `all_different` to either `True` or `False` according to what you can see from the table in answering the question.

```
BEGIN QUESTION
name: q6_3
points:
  - 0
  - 1
```

In [ ]:
all_different = False # SOLUTION
all_different

In [ ]:
# TEST
all_different in {True, False}

In [ ]:
# HIDDEN TEST
all_different == False

#### Question 6.4.
The file `sales.csv` contains the number of fruit sold from each box last Saturday.  It has an extra column called "price per fruit (\$)" that's the price *per item of fruit* for fruit in that box.  The rows are in the same order as the `inventory` table.  

Load these data into a table called `sales`.

```
BEGIN QUESTION
name: q6_4
```

In [ ]:
sales = Table.read_table('sales.csv') # SOLUTION
sales

In [ ]:
# TEST
sales.sort(0)

#### Question 6.5.
How many fruits did the store sell in total on that day?

```
BEGIN QUESTION
name: q6_5
points:
  - 0
  - 0
  - 1
```

In [ ]:
total_fruits_sold = sum( sales.column('count sold' ) ) # SOLUTION
total_fruits_sold

In [ ]:
# TEST
# We're looking for the total number of *pieces* sold
# Not the number of kinds of fruit or the number of boxes
total_fruits_sold > 10

In [ ]:
# TEST
type(total_fruits_sold) == np.int64

In [ ]:
# HIDDEN TEST
total_fruits_sold

#### Question 6.6.
What was the store's total revenue (the total price of all fruits sold) on that day?

**Hint:** If you're stuck, think first about how you would compute the total revenue from just the grape sales.

```
BEGIN QUESTION
name: q6_6
points:
  - 0
  - 1
```

In [ ]:
total_revenue = sum( sales.column('count sold') * sales.column('price per fruit ($)') ) # SOLUTION
total_revenue

In [ ]:
# TEST
# If you're stuck, here's a hint: you want to multiply the count
# sold in each box by the per-item price of fruits in that box.
# You can use element wise multiplication for that.
# Then you want the sum of those products, Use sum().
50 <= total_revenue <= 150

In [ ]:
# HIDDEN TEST
np.isclose(total_revenue, 106.85)

#### Question 6.7.
Make a new table called `remaining_inventory`.  It should have the same rows and columns as `inventory`, except that the amount of fruit sold from each box should be subtracted from that box's count, so that the "count" is the amount of fruit remaining after Saturday. Remember, the rows in `inventory` and `sales` are already in the same order.

```
BEGIN QUESTION
name: q6_7
```

In [ ]:
remaining_inventory = Table().with_columns( # SOLUTION
    'box ID', inventory.column('box ID'), # SOLUTION
    'fruit name', inventory.column('fruit name'), # SOLUTION
    'count', inventory.column('count') - sales.column('count sold') ) # SOLUTION
remaining_inventory

In [ ]:
# TEST
# Your table doesn't have all 3 columns
remaining_inventory.num_columns

In [ ]:
# TEST
# You forgot to subtract off the sales
remaining_inventory.column('count').item(0) != 45

In [ ]:
# TEST
remaining_inventory.where('fruit name', 'grape')

## Submitting your work
You're done with Graded HW 02! All assignments in the course will be distributed as notebooks like this one, and you will submit your work by doing the following:
* Save your notebook
* Restart the kernel and run up to this cell.
* Run all the tests by running the cell containing `grader.check_all()`. Make sure they pass the way you expect them to.
* Run the cell below with the code `grader.export(...)`.
* Download the file named `hw02.zip`, found in the explorer pane on the left side of the screen.
* Upload `hw02.zip` to the Graded HW 02 assignment on Canvas.

## WARNING!!!
Do not attempt to download your `.zip` file using the link that's generated in the notebook, it will produce an error. Always download the `.zip` file using the file explorer pane on the left side of the screen.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

When done exporting, download the .zip file by `SHIFT`-clicking on the file name and selecting **Save Link As**. Or, find the .zip file in the left side of the screen and right-click and select **Download**. You'll submit this .zip file for the assignment in Canvas to Gradescope for grading.

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)